<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:across="http://www.w3.org/1999/xhtml">
<head>
    <title>Across Initializr</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" across:static="/acrossInitializr/js/dependson.js"></script>
    <link rel="stylesheet" type="text/css" across:static="/acrossInitializr/css/main-minified.css"/>
    <link rel="stylesheet" type="text/css" across:static="/acrossInitializr/css/custom-initializr.css"/>
    <link rel="shortcut icon" across:static="/acrossInitializr/favicons/favicon.ico" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" target="_blank" href="http://across.foreach.be">Across <span class="text-info">Initializr</span></a>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Generate an <a href="http://across.foreach.be"><u>Across</u></a> project</h1>
    <form method="post" action="/" th:object="${projectRequestForm}">
        <p>
            This will generate a maven project with Spring Boot and embedded Tomcat, using Across platform
            <select th:field="*{platformVersion}">
                <option th:each="platformVersion : ${metadata.platformVersions}"
                        th:value="${platformVersion}">[[${platformVersion}]]
                </option>
            </select>
        </p>

        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <h2>Project metadata</h2>
                        <div class="form-group">
                            <label for="group">Group</label>
                            <input id="group" type="text" class="form-control" th:field="*{group}"/>
                        </div>
                        <div class="form-group">
                            <label for="artifact">Artifact</label>
                            <input id="artifact" type="text" class="form-control" th:field="*{artifact}"/>
                        </div>
                        <div class="form-group">
                            <label for="applicationName">Application name</label>
                            <input id="applicationName" type="text" class="form-control" th:field="*{applicationName}"/>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="applicationClassPrefix">Application class</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-right" id="applicationClassPrefix" th:field="*{applicationClassPrefix}">
                                        <span class="input-group-addon">Application</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Resources key</label>
                                    <input type="text" id="resourcesKey" class="form-control" readonly value="demo">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="packageName">Package name</label>
                            <input id="packageName" type="text" class="form-control" th:field="*{packageName}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <h2>Configuration presets</h2>
                        <p>Switching preset will reset your selected modules and options.</p>
                        <div class="form-group radio radio-info" th:each="preset : ${metadata.presets}">
                            <input type="radio" name="presetId" th:id="${preset.id}" th:value="${preset.id}"
                                   th:checked="${preset.id eq projectRequestForm.presetId}"
                                   th:data-modules="${#strings.listJoin(preset.modules,',')}"
                                   th:data-options="${#strings.listJoin(preset.options,',')}"/>
                            <label th:for="${preset.id}">[[${preset.name}]]</label>
                            <p class="help-block" th:if="${preset.description}" th:text="${preset.description}">Preset description</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-lg btn-info">Generate project</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <h2>Selected modules and options</h2>
                        <div class="col-md-6" th:each="group : ${metadata.moduleGroups}">
                            <h4 th:text="${group.name}">Module group</h4>
                            <div th:each="module : ${group.modules}">
                                <div class="checkbox module checkbox-info">
                                    <input th:id="${module.id}" type="checkbox" name="selectedModules" th:value="${module.id}"
                                           th:checked="${projectRequestForm.selectedModules.contains(module.id)}"
                                           th:data-dependencies="${#strings.listJoin(module.dependencies,',')}"
                                           th:data-versions="${#strings.listJoin(metadata.versionsSince( module.versionRange ), ',')}"
                                    />
                                    <label th:for="${module.id}">[[${module.name}]]</label>
                                    <p class="help-block" th:if="${module.description}" th:text="${module.description}">Module description</p>
                                    <th:block th:with="requiresPlatformVersion = ${not '>=2.0.1.RELEASE'.equals(module.versionRange.toString())}">
                                        <p class="requirements text-danger" th:if="${requiresPlatformVersion or not module.dependencies.isEmpty()}">Requires:
                                            <th:block th:if="${requiresPlatformVersion}">
                                                Platform [[ ${module.versionRange} ]]
                                                <th:block th:if="${not module.dependencies.isEmpty()}">,</th:block>
                                            </th:block>
                                            <th:block th:each="dep : ${module.dependencies}" th:with="dependency=${metadata.getModuleMetadata(dep)}">
                                                [[${dependency.name}]]
                                                <th:block th:unless="${depStat.last}">,</th:block>
                                            </th:block>
                                        </p>
                                    </th:block>
                                </div>
                                <div class="checkbox module-option" th:each="option : ${module.options}">
                                    <input th:id="${option.id}" type="checkbox" th:data-module="${module.id}" name="selectedOptions" th:value="${option.id}" th:checked="${projectRequestForm.selectedOptions.contains(option.id)}"/>
                                    <label th:for="${option.id}">[[${option.name}]]</label>
                                    <p class="help-block" th:if="${option.description}" th:text="${option.description}">Option description</p>
                                </div>
                            </div>
                        </div>
                        <h4>Spring Boot Configs</h4>
                        <div class="col-md-6 spring-boot-config" th:each="springBootConfig : ${metadata.springBootConfigs}">
                            <div class="checkbox spring-boot-starter checkbox-info">
                                <input th:id="${springBootConfig.id}" type="checkbox" name="selectedSpringBootConfigs"
                                       th:value="${springBootConfig.id}"
                                       th:checked="${projectRequestForm.selectedModules.contains(springBootConfig.id)}"
                                       th:data-versions="${#strings.listJoin(metadata.versionsSince( springBootConfig.versionRange ), ',')}"
                                />
                                <label th:for="${springBootConfig.id}">[[${springBootConfig.name}]]</label>
                                <p class="help-block" th:if="${springBootConfig.description}"
                                   th:text="${springBootConfig.description}">Spring Boot Starter description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-lg btn-info">Generate project</button>
            </div>
        </div>
    </form>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a class="logo-footer" href="https://www.foreach.be/" target="_blank"></a>
            </div>
            <div class="col-md-11 text-right">
                Across Initializr is very much based on <a href="https://start.spring.io">start.spring.io</a> and
                <a href="https://github.com/spring-io/initializr/">Spring Initializr</a>
            </div>
        </div>


    </div>
</footer>

<script type="text/javascript" across:static="/acrossInitializr/js/main.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>