/* this file contins overwrites for initializr--------------------------------------------- */

/*
 * fonts
 * --------------------------------------------------
 */

h1 {
    margin: 35px 0 20px 0;
    color: #1F3141;
}

h2 {

    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 26px;
    color: #1F3141;
}

h4 {
    color: #00AEEF;
}

/*
 * navbar
 * --------------------------------------------------
 */

.navbar {
    border-top: 5px solid #00AEEF;
    background-color: #1D2A3A;
}

.navbar-inverse .navbar-header {
    background: url(../images/across-logo-white.svg) no-repeat left center;
    padding: 32px;
    background-size: 52px;
    background-position-x: 14px;
}

.navbar-header .navbar-brand {
    padding-left: 70px;
    font-weight: 400;
    font-size: 30px;
    text-transform: none;

}

/*
 * footer
 * --------------------------------------------------
 */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1D2A3A;
    color: #ffffff;
    padding: 20px 0;
}

.logo-footer {
    background: url(../images/foreach-logo.svg) no-repeat left center;
    background-size: 83px;
    width: 110px;
    height: 26px;
    display: block;

}

/*
 * form
 * --------------------------------------------------
 */

.module-option {
    margin-left: 25px;
}

.module-option .help-block {
    font-size: small;
}

.checkbox, .radio {
    margin-top: 35px;
    margin-bottom: 26px;

}

.radio label, .checkbox label {
    font-weight: bold;
}

.help-block {
    padding-left: 5px;
}

.requirements {
    padding-left: 5px;
    font-size: small;
}

.module-option label {
    font-weight: normal;
}

.btn-lg {
    margin-bottom: 20px;
    padding: 1.2rem 3rem;
    border-radius: 3px;
    margin-left: 2rem;
    background: #11CD67;
    color: #FFFFFF;
    transition-property: background;
    transition-duration: .4s;
    transition-timing-function: linear;
    border: none;
    font-size: 17px;
    text-shadow: 0 0.5px 4px rgba(0, 0, 0, 0.5);
}

footer div {
    padding-right: 15px;
}

footer a {
    color: #fad234;
    font-weight: bold;
}

.navbar .text-info {
    color: #00AEEF;
}

a:hover, a:focus {
    color: #00AEEF;
}

.spring-boot-config {
    height: 9em
}

