/*
################################################################################################
This is the main Gradle build file
################################################################################################
*/

buildscript {
    repositories {
        mavenCentral()
    }
    dependencies {
        // Provides the bootRun task in Gradle
        classpath("org.springframework.boot:spring-boot-gradle-plugin:2.1.1.RELEASE")
    }
}

repositories {
    maven {
        // This repository contains the Across RELEASE and SNAPSHOT versions
        url 'https://repository.foreach.be/nexus/repository/public/'
    }
}

apply plugin: 'java'
apply plugin: 'idea'
apply plugin: 'org.springframework.boot'
apply plugin: 'io.spring.dependency-management'

// From the spring-boot-gradle-plugin which provides a proper mavenBom import
dependencyManagement {
    imports {
        mavenBom "com.foreach.across:platform-bom:{{platformVersion}}"
    }
}

group = '{{groupId}}'
version = '{{version}}'

sourceCompatibility = 1.8
targetCompatibility = 1.8

def lombokVersion = '1.16.22'

configurations {
    developmentOnly
    runtimeClasspath {
        extendsFrom developmentOnly
    }
}

dependencies {
    // It seems Gradle BOMs don't deliver accurate resolution of the dependencyManagement sections in across Platform BOM
    //implementation platform('com.foreach.across:platform-bom:2.1.2.RELEASE')

    // Lombok
    annotationProcessor("org.projectlombok:lombok:$lombokVersion")
    compileOnly("org.projectlombok:lombok:$lombokVersion")
    testAnnotationProcessor("org.projectlombok:lombok:$lombokVersion")
    testCompileOnly("org.projectlombok:lombok:$lombokVersion")
    
    {{#includeAutoconfigueDependency}}
    implementation("com.foreach.across:across-autoconfigure")
    {{/includeAutoconfigueDependency}}
    implementation("org.springframework.boot:spring-boot-starter-web")
    implementation("org.springframework.boot:spring-boot-starter-jdbc")
    implementation("org.springframework.boot:spring-boot-starter-validation")
    developmentOnly("org.springframework.boot:spring-boot-devtools")
    implementation("commons-fileupload:commons-fileupload")
    implementation("com.h2database:h2")

    {{#dependencies}}
        {{#version}}
            implementation("{{groupId}}:{{artifactId}}:{{version}}")
        {{/version}}
        {{^version}}
            implementation("{{groupId}}:{{artifactId}}")
        {{/version}}
    {{/dependencies}}

    testCompile("com.foreach.across:across-test")
}

def buildProperties = new BuildProperties(version: version, revision: "development")
def buildDate = new Date()

processResources {
    filesMatching('build.properties') {
        // Replace the properties in the build.properties file, used in the ApplicationInfoModule
        expand("pom": buildProperties, 'build': buildProperties, 'timestamp': buildDate)
    }
}

bootJar {
    launchScript()
    excludeDevtools = true
    manifest {
        attributes("Implementation-Title": project.name,
                "Implementation-Version": version,
                "Build-Time": buildDate.format("yyyyMMdd-HHmm"))
    }
}

class BuildProperties {
    String version, revision
}